<div id="site-sidebar" class="c-site-sidebar">

    <div class="c-sidebar-contact-links">
        <span>
        <a class="c-sidebar-contact-links__item" id="github-icon" href="https://github.com/FreemanZhang" target="_blank">
            github<br>
        </a>
        </span>

        <span>
        <a class="c-sidebar-contact-links__item" href="http://www.slideshare.net/ShijieZhang2" target="_blank">
            slideshare<br>
        </a>
        </span>

        <span>
        <a class="c-sidebar-contact-links__item" href="https://www.linkedin.com/in/freemanzhang" target="_blank">
            linkedin<br>
        </a>
        </span>

        <span>
        <a class="c-sidebar-contact-links__item" href="https://www.mindmeister.com/users/channel/15308723">
            mindmap repo<br>
        </a>
        </span>

    </div>	

    {{! Sidebar navigation - Ghost's menu }}
    {{navigation}}
</div>
